{
    "txt_path": "./tracks.txt",
    "download_dir": "./",
    "mail": {
        "service": "gmail",
        "username": "yourmail",
        "password": "yourpassword",
        "recipient": null
    },
    "pref": {
        "mail": true,
        "notif": true
    }
}
